html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html,
body {
  background-color: lightblue;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  margin-top: 20px;
  margin-right: 40px;
  font-size: xxx-large;
  padding-bottom: 30px;
  text-align: center;
}
#formLogin {
  display: flex;
  flex-direction: column;
  justify-items: space-between;
  justify-self: center;
  margin-top: 10%;
  background-color: white;
  padding: 1.5em;
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
}
#formLogin input,
#formLogin label {
  margin: 2%;
  display: block;
  font-size: xx-large;
}
#submitLogin {
  height: 5rem;
}
