table,
tr,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
  font-size: larger;
  font-family: Arial;
}
tr {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: lightblue;
}
td {
  text-align: center;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.header {
  text-align: center;
  font-size: xx-large;
  font-family: Arial;
  padding: 10px;
  color: white;
  background-color: darkblue;
}
.tabla {
  position: relative;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0%);
}
h1 {
  text-align: center;
  font-weight: bold;
  font-family: Arial;
  font-style: italic;
}
p {
  text-align: justify;
  font-family: Arial;
  font-size: large;
}
