<IfModule mod_rewrite.c>
Options -Multiviews 
RewriteEngine On 
RewriteBase /UD1-UD6_Examen-Marcos_Rodriguez/mvcexamen/public/
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
</IfModule>

